* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 40px; /*cria espaço externo em volta da pagina*/
}
/*modifica o titulo principal*/
h1 {
    text-align: center; /* Alinha texto no centro */
    background: pink; /* Cor no fundo, sem ser  da letra*/
}
/*modifica os titulos dos paragrafos*/
h2{
    border-bottom: 2px solid black; /*cria linha em baixo do titulo*/
    padding-bottom: 8px; /*cria espaco entre texto e a linha*/
    margin-top: 30px; /*cria espaco a cima do titulo*/
    margin-bottom: 20px; /* Espaço entre formações */
}
.formacao {
    display: flex; /* Coloca lado a lado */
    align-items: flex-start; /*alinha pelo topo*/
    margin-bottom: 20px; /* Espaço entre formações */
    gap: 15px; /*espaco entre ano e texto*/
}

.ano {
    width: 50px; /* Largura fixa para alinhar */
    min-width: 70px; /*alinhamento fixo*/
    font-weight: bold; /* Ano em negrito */
    margin-top: 6px; /*muda a altura*/
}

.info strong {
    display: block; /* Curso em cima */
}

.info p {
    margin: 0; /* Remove espaço extra */
}
/*modifica o paragrafo*/
p {
    margin: 5px 0; /*cria espaco em cima e embaixo, 0 nas laterais*/
}